.FormPasswordInput__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    margin-bottom: 24px;
    border: none;
    border-bottom: 3px solid #009B54;
    color: #009B54;
    background: #cce5e1;
}

.FormPasswordInput__container input {
    border: none !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.FormPasswordInput__cta-eye {
    cursor: pointer;
}