.FormInput__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.FormInput__input {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: clamp(1rem, 0.9617346938775511rem + 0.13605442176870747vw, 1.125rem);
    line-height: clamp(1.33rem, 1.2550000000000001rem + 0.26666666666666655vw, 1.575rem);
    font-weight: 500;
    color: #009b54;
    padding: 14px;
    border: none;
    border-bottom: 3px solid #009B54;
}