ul {
    list-style: none;
}

.Footer_footer__list-item-social svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    display: block;
}

.Footer_footer__list-item-social-icon {
    fill: #009b54;
}

.Footer_footer {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 100vw;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: #fff;
    color: #00342b;
}

.Footer_footer__social-wrapper {
    height: 100%;
    border: none;
}

@media (min-width: 1024px) {
    .Footer_footer__social-wrapper {
        border-left: 3px solid #009b54;
    }
}

.Footer_footer__social-list {
    display: flex;
    min-width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.Footer_footer__list-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.Footer_footer__title, .Footer_footer__social-list-item {
    font-size: 13px;
    letter-spacing: .91px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.Footer_footer__social-list-item {
    display: block;
    color: #00884d;
    text-decoration: none;
    transition: color .5s;
    margin-bottom: 1.5rem;
}

@media (min-width: 450px) {
    .Footer_footer__title, .Footer_footer__social-list-item {
        font-size: calc(.0680272109vw + 12.693877551px);
        letter-spacing: calc(.0047619048vw + .8885714286px);
    }
}

@media (min-width: 1024px) {
    .Footer_footer__title {
        margin-bottom: 2rem;
    }
}

@media (min-width: 1920px) {
    .Footer_footer__title .Footer_footer__social-list-item {
        font-size: 14px;
        letter-spacing: .98px;
    }
}

.Footer_footer__list-item-social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #009b55;
    gap: 12px;
}

.Footer_footer__title {
    margin-bottom: 1rem;
    font-family: "NeueMontreal-Bold", sans-serif;
}

.Footer_footer__social-list-link {
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    color: #00884d;
    text-decoration: none;
    transition: color .5s;
    font-size: 14px;
    letter-spacing: .98px;
}

.Footer_footer__social-copyright, .Footer_footer__hygiene-link {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .28px;
    line-height: 138%;
    color: #457c73;
}

.Footer_footer__hygiene-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    gap: 1.25rem;
}

@media (min-width: 1024px) {
    .Footer_footer__hygiene-list {
        margin-top: 160px;
        margin-bottom: unset;
        gap: 2rem;
    }
}

.Footer_footer__hygiene-link {
    color: #00342b;
    text-decoration: none;
    transition: color .5s;
}

.Footer_footer__hygiene-link:hover {
    color: #457c73;
}

.Footer__list-item {
    margin-bottom: 1rem;
}

.Footer__list-link {
    display: block;
    min-width: 100%;
    color: #00342b;
    text-decoration: none;
    transition: color .5s;
    font-size: clamp(1rem, 0.9617346938775511rem + 0.13605442176870747vw, 1.125rem);
    line-height: clamp(1.33rem, 1.2550000000000001rem + 0.26666666666666655vw, 1.575rem);
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.Footer__list-link:hover {
    color: #00884d;
}

.Footer_footer__list-item {
    margin-bottom: 1rem;
}

.Footer_footer__social-list-link {
    display: block;
    min-width: calc(100% - 36px);
    color: #00884d;
    text-decoration: none;
    transition: color .5s;
}