a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: bottom;
}

@font-face {
    font-family: "NeueMontreal-Bold";
    src: url("PPNeueMontreal-Bold.otf");
}

.PrimaryButton_button {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 1.0625rem 1.5rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: color .3s linear;
    color: #00884d;
}

.PrimaryButton_button, .SecondaryButton_button {
    font-family: "NeueMontreal-Bold", sans-serif;
    font-size: .875rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    letter-spacing: .06125rem;
    line-height: normal;
    text-transform: uppercase;
}

.PrimaryButton_button:focus,
.PrimaryButton_button:focus-visible,
.PrimaryButton_button:focus-within,
.PrimaryButton_button:hover {
    color: #fff;
}

.PrimaryButton_button:focus-visible {
    outline: 2px solid #00884d;
}

.PrimaryButton_button:focus,
.PrimaryButton_button:focus-visible,
.PrimaryButton_button:focus-within {
    padding: .9375rem 1.375rem;
    border: 2px solid transparent;
}

.PrimaryButton_button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transform: translateX(calc(-100% + 4px));
    transform-origin: left;
    transition: transform .3s ease-out;
    background: #00884d;
}

.PrimaryButton_button:focus-visible:before,
.PrimaryButton_button:focus-within:before,
.PrimaryButton_button:focus:before,
.PrimaryButton_button:hover:before {
    transform: translateX(0);
}

.PrimaryButton_button .PrimaryButton_text, .SecondaryButton_button .SecondaryButton_text {
    position: relative;
    display: block;
}

.PrimaryButton_button .PrimaryButton_icon {
    position: relative;
    display: flex;
    margin-left: 1rem;
}

.SecondaryButton_button {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 1.0625rem 1.5rem;
    border: 0;
    background: #009b54;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

