.Signpost__container {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (min-width: 1024px) {
    .Signpost__container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.Signpost__signpost {
    position: relative;
    padding: 2rem 1.25rem;
    background-color: #00342b;
    color: #fff;
}

@media (min-width: 1024px) {
    .Signpost__signpost {
        position: sticky;
        top: 5rem;
        padding: 2rem;
    }
}

@media (min-width: 1920px) {
    .Signpost__signpost {
        padding: 3rem;
    }
}

.Signpost__eyebrow {
    margin-bottom: 2rem;
    font-size: clamp(0.8125rem, 0.7933673469387755rem + 0.06802721088435373vw, 0.875rem);
    letter-spacing: clamp(0.056875rem, 0.055535714285714285rem + 0.004761904761904758vw, 0.06125rem);
    font-family: "NeueMontreal-Bold", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.Signpost__title {
    margin-bottom: 2rem;
    font-size: clamp(2.0625rem, 1.7372448979591837rem + 1.1564625850340136vw, 3.125rem);
    line-height: clamp(2.25rem, 1.8864795918367347rem + 1.292517006802721vw, 3.4375rem);
    font-family: HattonMedium;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.Signpost__text {
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 0.9617346938775511rem + 0.13605442176870747vw, 1.125rem);
    line-height: clamp(1.33rem, 1.2550000000000001rem + 0.26666666666666655vw, 1.575rem);
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.Signpost__button-container {
    display: inline-block;
    width: auto;
}

