.SignpostPromoImage__container {
    position: relative;
    margin-bottom: 2rem;
}

@media (min-width: 1024px) {
    .SignpostPromoImage__container {
        margin-bottom: 4rem;
    }
}

.SignpostPromoImage__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}