.ProductionDayDetailsGeneral__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem 0;
    margin-bottom: 3rem;
    padding: 0;
}

.ProductionDayDetailsGeneral__container .full-width {
    width: 100%;
}

.ProductionDayDetailsGeneral__container .half-width {
    width: 100%;
}

@media (min-width: 1024px) {
    .ProductionDayDetailsGeneral__container .half-width {
        width: 50%;
    }
}